.topDetailSection {
    margin: 0px 10px;
}

.itemDetailToolbar {
    text-align: right;
    margin-right: 16px;
    padding-top: 10px;
    position: fixed;
    right: 8px;
    top: 2px;
}

#titleContainer:hover {
    cursor: pointer;
}