.topDetailSection {
    margin: 0px 10px;
}

.editable {
    border: none;
    outline: 0;
}

.itemDetailToolbar {
    text-align: right;
    margin-right: 16px;
    padding-top: 10px;
    position: fixed;
    right: 8px;
    top: 2px;
}

.tbIcon {
    margin: 5px;
}

.typingToolbar {
    margin: 0px 10px;
    padding-bottom: 5px;
}

[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}

[contentEditable=true]:hover {
    cursor: text;
}

[contentEditable=true] {
    outline: none;
}

.midColMenu {
    height: 100px;
    border-bottom: 1px solid lightgray;
    background-color: #fafafa;
}

#titleContainer:hover {
    cursor: pointer;
}